.cargando{
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorItemList{
    min-height: 650px;
    margin-top: 160px;
    margin-bottom: 40px;
}

@media (min-width: 992px) {

    .contenedorItemList{
        margin-top: 235px;
    }
}

@media (min-width: 1400px) {

    .contenedorItemList{
        margin-top: 150px;
    }
}