@font-face {
    font-family: "Matter-Regular";
    src: url("../../tipografias/Matter-Regular.otf");
}
@font-face {
    font-family: "Matter-Medium";
    src: url("../../tipografias/Matter-Medium.otf");
}
@font-face {
    font-family: "Tenebras";
    src: url("../../tipografias/Tenebras.otf");
}

.sticker{
    height: auto;

    /* border: 1px groove black;
    border-radius: 25%; */
}

.sticker__nombre{
    font-family: "Matter-Regular";
    text-align: start;
    color: black;
    font-size: 1.4rem;
}

.sticker__precio{
    font-family: "Matter-Medium";
    text-align: end;
    color: black;
    font-size: 1.3rem;
}

.sticker__usar{
    height: 50px;
    width: 120px;

    border: 2px solid black;
    border-radius: 50% 20% / 10% 40%;
    background-color: black;

    font-family: "Tenebras";
    color: white;
    font-size: 1.2rem;
}