.navBar{
    height: auto;
    background-color: white;
}

.logo{
    border-bottom: 3px groove #000;
}

.nav__item{
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;
    text-align: center;
    text-decoration: none;
    color: black;
}
.nav__item:hover{
    border: 2px solid black;
    border-radius: 50%;
}
.nav__item a{
    text-decoration: none;
    color: black;
}

#modoClaro{
    font-size: 1.4rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: auto;
}

#cart{
    font-size: 1.4rem;
    text-align: center;
    margin-left: auto;
    margin-right: 1rem;
}