@font-face {
    font-family: "Matter-Light";
    src: url("../../tipografias/Matter-Light.otf");
}
@font-face {
    font-family: "Matter-Regular";
    src: url("../../tipografias/Matter-Regular.otf");
}

.footerLight{
    background-color: black;
}
.footerDark{
    background-color: white;
}

.logoFooter{
    width: 100px;
}

.ayuda{
    display: flex;
    justify-content: end;
}

.btnLight{
    color: white;
    border-bottom: 1px solid white;
}
.btnDark{
    color: black;
    border-bottom: 1px solid black;
}

.ayuda__btn{
    width: 110px;
    height: 25px;
    font-family: "Matter-Light";
    font-size: 13.5px;
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.creditos{
    font-family: "Matter-Regular";
    font-size: 12px;
    text-align: end;
}

.credLight{
    color: white;
}
.credDark{
    color: black;
}

@media (min-width: 768px) {

    .logoFooter{
        width: 120px;
    }
}