@font-face {
    font-family: "Matter-Light";
    src: url("../../tipografias/Matter-Light.otf");
}
@font-face {
    font-family: "Matter-Regular";
    src: url("../../tipografias/Matter-Regular.otf");
}

.footer{
    background-color: black;
}

.logoFooter{
    width: 100px;
}

.ayuda{
    display: flex;
    justify-content: end;
}

.ayuda__btn{
    width: 100px;
    height: 25px;
    font-family: "Matter-Light";
    font-size: 13.5px;
    color: white;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid white;
}

.creditos{
    font-family: "Matter-Regular";
    font-size: 12px;
    color: white;
    text-align: end;
}

@media (min-width: 768px) {

    .logoFooter{
        width: 120px;
    }
}